
@model IEnumerable<Proyecto_Progra_Avanzada.Models.Retos>

<h2>Mis Retos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Retador</th>
            <th>Retado</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reto in Model)
        {
            <tr>
                <td>@reto.RetadorID</td>
                <td>@reto.RetadoID</td>
                <td>@reto.FechaReto</td>
                <td>@reto.Ganador</td>
            </tr>
        }
    </tbody>
</table>