@{
    var userDetails = ViewBag.UserDetails as ApplicationUser;
}

<h2>Retos Actuales</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Acertar Reto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userList in Model)
        {
            <tr>
                <td>@userDetails.FirstName.</td>
                <td>@userDetails.LastName</td>
                <td>@userList.FechaReto</td>
                <td>
                    <form method="post" asp-controller="Retos" asp-action="SubmitReto">
                        <input type="hidden" name=RetadorID value=@ViewData["RetadorID"] />
                        <input type="hidden" name=RetadoID value=@userList.RetoID />
                        <input type="hidden" name="FechaReto" value="@DateTime.Now.ToString()" />
                        <button type="submit">Aceptar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>