@model AspNetUserRoles
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <form method="post" asp-controller="Home" asp-action="SubmitForm">
        <select id="RoleId" name="RoleId">
            <option value="dbe40221-6f98-425a-895f-42c7b7f5c71b">Administrador</option>
            <option value="6f5195e6-53f4-48f6-9666-8d4163d0531c">Enfermero</option>
            <option value="b472cb3b-cc0d-47b7-95ad-056eb9581280">Entrenador</option>
        </select>
        <input type="hidden" name="UserId" value="@ViewData["ID"]" />
        <button type="submit">Submit</button>
    </form>
 
    <p>@ViewData["ID"]</p>
</body>