@model AspNetUserRoles
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <form method="post" asp-controller="Home" asp-action="SubmitForm">
        <select id="RoleId" name="RoleId">
            <option value="2a124331-9687-4330-b552-a1eb659209ee">Administrador</option>
            <option value="29f62854-0011-4a13-9e12-4f3d4bc3a609">Enfermero</option>
            <option value="4fb2c25c-e86e-4c46-beb1-d2dbba74fe46">Entrenador</option>
        </select>
        <input type="hidden" name="UserId" value="@ViewData["ID"]" />
        <button type="submit">Submit</button>
    </form>
 
    <p>@ViewData["ID"]</p>
</body>