@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Proyecto_Progra_Avanzada.Models.Pokedex

@{
    ViewData["Title"] = "Editar Registro en Pokedex";
}

@if (Model is null)
{
    <p>No hay una pokedex con ese ID</p>
}
else
{
    <h1>Editar Registro en Pokedex</h1>

    <h4>Pokedex</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="id_Pokedex" />

                <div class="form-group">
                    <label asp-for="PokemonID" class="control-label"></label>
                    <input asp-for="PokemonID" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="victorias" class="control-label"></label>
                    <input asp-for="victorias" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="vida" class="control-label"></label>
                    <input asp-for="vida" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="numeroEvolucion" class="control-label"></label>
                    <input asp-for="numeroEvolucion" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="fecha_captura" class="control-label"></label>
                    <input asp-for="fecha_captura" class="form-control" />
                    <span asp-validation-for="fecha_captura" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="OpenPokedex">Volver a la Lista</a>
    </div>
}